.pretty_container {
    border-radius: 5px;
    /*background-color: #2E3037;*/
    margin: 10px;
    padding: 25px;
    position: relative;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.12);
}

body {
    /*color: #718BA5;*/
    /*background-color: #d6e4ea;*/
    overflow-x: hidden; /* Hide scrollbars */
}

/*.navbar .navbar-brand{*/
/*    margin-left:5% !important;*/
/*}*/

/* map style */
.map_window {
    height: 78vh;
    display: flex;
    position: relative;
}

#map-y-slider {
    height: 80vh !important;
}

a.basemap-link {
    background-color: #ffa700;
    border-radius: 1.5em;
    color: #3d2900;
    /*text-transform:uppercase;*/
    text-decoration: none;
    padding: 1em 1.5em;
}

a.basemap-link:hover {
    background-color: #ffff60;
    cursor: pointer;
    color: black;
}

a.basemap-satellite {
    position: absolute;
    top: 2em;
    right: 2em;
}

a.basemap-roadmap {
    position: absolute;
    top: 4em;
    right: 2em;
}

.dropdown {
    margin-top: 20px;
}

#basemap-dropdown .Select-control {
    background-color: rgb(255, 255, 255) !important;
}

#basemap-dropdown .Select-value {
    border-color: #e3a700 !important;
}

#basemap-dropdown .Select-menu-outer {
    background-color: #0021A5;
    width: 40%;
    height: inherit;
    top: 60px;
    left: 25px;
}

#basemap-dropdown .Select-value-label {
    color: #000000 !important;
}

#basemap-dropdown .VirtualizedSelectFocusedOption {
    background-color: #FA4616;
    color: #ffffff;
    width: 40%
}

#basemap-dropdown .Select-control, .Select div, .is-open>.Select-control {
    color: white;
    border-color: slategray;
}

.is-focused:not(.is-open) > .Select-control {
    border-color: slategray;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.popup {
    display: block;
    position: absolute;
    padding: 0px 0px 0px 0px;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
    background-color: #ffa700;
    border: 1px solid #ccc;
    border-radius: 5px
}

/*.btn {*/
/*    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);*/
/*}*/

/*.btn:hover {*/
/*    background-position: right center; !* change the direction of the change here *!*/
/*}*/

.btn {
    padding: 7px 12px;
    font-size: 14px;
}